<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://raspberrypi');
        socket.emit('video', {});
         socket.on('video', function(data) {
            console.log(data);
        });
    </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>